<!DOCTYPE html>
<html lang="en">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="./scripts/myWebPage.js"></script>
<head>
  <title>Price Calculator</title>
</head>
<body>

<div>
  <h1>How much to charge?</h1>
  <p>If you were a freelance web designer, how much should you charge for a website? Fill out the form and find out!</p>
</div>

<div>
  <form id="budget" action="/calcPrice">>
    <label for="salary">What annual salary seems suitable for you?</label>
    <input type="text" id="salary" name="salary"/><br><br>
    <label for="days">How many days do you think it will take you to make the website?</label>
    <input type="text" id="days" name="days"/><br><br>
    <input type="button" id="calcButton" value="Calculate your price!">
    <label id="finalPrice"> ??? </label>
  </form>
</div>

<img src = "pic1.jfif">

</body>
</html>
